<div class="container">
  <h1>Discussion Page</h1>

  <div class="discussion">
    <p *ngIf="senderId">Sender: {{ sender?.name }} {{ sender?.surname }} (ID: {{ senderId }})</p>
    <p *ngIf="recipientId">Recipient: {{ recipient?.name }} {{ recipient?.surname }} (ID: {{ recipientId }})</p>

    <div *ngFor="let message of messages" class="comment">
      <p class="comment-author">{{ message.sender }}:</p>
      <p>{{ message.content }}</p>
      <p>Sender ID: {{ message.senderId }}</p>
      <p>Recipient ID: {{ message.recipientId }}</p>
    </div>
  </div>

  <form (submit)="onSubmit()">
    <textarea name="comment" rows="4" cols="50" placeholder="Write your comment here..." [(ngModel)]="newMessageContent"></textarea><br>
    <button type="submit">Post Comment</button>
  </form>
</div>
