<div class="chat-container">
  <h1>Discussion Page</h1>
  
  <div class="messages">
    <div *ngFor="let message of messages" 
         class="message" 
         [ngClass]="{'sent': message.isSent, 'received': !message.isSent}">
      <div class="message-content">
        {{ message.content }}
      </div>
    </div>
  </div>

  <form class="message-form" (ngSubmit)="onSubmit()">
    <textarea [(ngModel)]="newMessageContent" 
              name="message" 
              rows="4" 
              placeholder="Write your message here..." 
              required></textarea>
    <button type="submit">Send Message</button>
  </form>
</div>


  