/* signup.component.css */
:host {
    display: block;
    padding: 50px;
    
  }
  
  .card {
    background: linear-gradient(145deg, #1e90ff, #87cefa); /* Dégradé de bleu */
    color: #ffffff; /* Texte blanc pour un contraste élevé */
    max-width: 400px;
    margin: 50px auto; /* Ajoutez plus de marge sur le haut et le bas */
    padding: 20px;
    border-radius: 10px; /* Bords légèrement arrondis pour la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce pour un effet de profondeur */
  }
  
  .card-header {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: .5rem;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff50; /* Bordure semi-transparente */
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333; /* Bouton sombre pour contraster avec le fond bleu */
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Animation douce pour le survol */
  }
  
  .btn:hover {
    background-color: #464646; /* Changement de couleur au survol */
  }
  
  /* Adaptez cette partie en fonction des dimensions de vos éléments */
  @media (max-width: 576px) {
    .host {
      padding: 20px;
    }
  
    .card {
      margin: 20px auto;
    }
  }
  
  

  