<div class="container">
  <div class="header">
    <h1>Chat List</h1>
  </div>

  <!-- Display list of all users -->
  <div class="user-list">
    <h2>All Users</h2>
    <div *ngFor="let user of users" class="user" (click)="redirectToBox(user._id)">
      <div class="profile-picture">
        <!-- Utilisez Angular property binding pour les avatars -->
        <img [src]="user.avatarPath" alt="User Avatar">
      </div>
      <div class="user-info">
        <h2>{{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>

  <!-- Nouvelle section pour afficher les utilisateurs connectés -->
  <div *ngIf="connectedUsers.length > 0" class="user-list">
    <h2>Connected Users</h2>
    <div *ngFor="let user of connectedUsers" class="user" (click)="redirectToBox(user.id)">
      <div class="profile-picture">
        <!-- Utiliser l'avatar par défaut pour les utilisateurs connectés -->
        <img [src]="user.avatarPath" alt="User Avatar">
      </div>
      <div class="user-info">
        <h2>{{ user.name }}</h2>
        <p>Online now</p>
      </div>
    </div>
  </div>
</div>

